.outer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	min-height: 100vh;
}

/* currentrly image-zoom is smaller than the archive-detail image - this doesn't make sense */
.container-image {
	display: flex;
	margin: 6rem auto 0 auto;

	box-shadow: var(--box-shadow-dark);
	border-radius: var(--border-radius-main);
}

.img-zoom {
	max-width: 100%;
	border-radius: var(--border-radius-main);
}

.vid-zoom {
	max-width: 100%;
}

.btn-back {
	width: 10rem;
	font-size: 1rem;
	font-family: inherit;
	padding: 0.5rem 1rem;
	margin-bottom: 3rem;
	background-color: #000;
	color: var(--text-color-light);
	border: none;
	border-radius: var(--border-radius-main);
}

.btn-back:hover {
	cursor: pointer;
}
