.flex-container {
	margin-top: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-img-container {
	border-radius: 5px;

	box-shadow: 0px 0px 8px 0.5px rgba(255, 255, 255, 0.171);
	width: 80%;
	padding: 3rem 6rem;
	/* either background black or transparent and background blurs when modal opens */
	background-color: rgba(0, 0, 0, 0.884);
}

.modal-img-title {
	font-size: 2rem;
	font-weight: 200;
	margin-bottom: 1rem;
}

.modal-image-explanation-container {
	display: flex;
}

.modal-main-img {
	width: 40%;
	max-height: 40%;
}

/* need to get font and font weight/size correct */
.modal-img-explanation {
	width: 60%;
	font-family: var(--main-font);
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 1.2px;
	font-size: 0.75rem;
	margin-left: 2rem;
}
