.detail-img-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3rem auto 0 auto;
	max-width: 65%;
	min-height: 100vh;
}

.detail-img-title {
	font-family: var(--display-font);
	margin: 2rem 0 2rem 0;
	font-size: 1.75rem;
	align-self: center;
	text-decoration: underline;
	font-style: italic;
}

.modal-link {
	text-decoration: none;
	color: inherit;
}

.detail-main-img {
	max-width: 100%;
	max-height: 80vh;
	box-shadow: var(--box-shadow-dark);
	border-radius: var(--border-radius-main);
	margin-bottom: 2rem;
}

.detail-main-vid {
	max-width: 100%;
	box-shadow: var(--box-shadow-dark);
	border-radius: var(--border-radius-main);
	margin-bottom: 2rem;
}

.detail-img-explanation {
	max-width: 100%;
	font-family: var(--main-font);
	font-size: 1rem;
	margin: 1rem 0 3rem 0;
	line-height: var(--line-height-copy);
	text-align: justify;
}

.img-btn-container {
	display: flex;
	flex-direction: column;
}

.btn-back-archive {
	color: var(--text-color-light);
	width: 10rem;
	font-family: inherit;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	background-color: #000;
	border: none;
	border-radius: var(--border-radius-main);
	margin-bottom: 3rem;
}

.btn-back-archive:hover {
	cursor: pointer;
}

.link-archive {
	align-self: center;
}

@media only screen and (max-width: 1200px) {
	.detail-img-container {
		max-width: 80%;
	}
	.detail-img-explanation {
		font-size: 0.9rem;
	}
}

@media only screen and (max-width: 900px) {
	.detail-img-container {
		display: block;
		max-width: 85%;
		margin: 3rem auto 0 auto;
		padding: 0 1rem;
	}

	.detail-img-title {
		margin: 0 0 1rem 0;
		font-size: 1.5rem;
		line-height: var(--line-height-title);
		text-align: center;
		text-decoration: none;
	}

	.detail-main-img {
		width: 100%;
		margin-bottom: 0 auto 1rem auto;
	}

	.detail-main-vid {
		/* temp fix for image video size on mobile - YouTube player not diaplying correctly */
		width: 100%;
		height: auto;
		margin: 0 auto 1rem auto;
	}

	.detail-img-explanation {
		font-size: 0.9rem;
		line-height: var(--line-height-copy);
		margin: 0.5rem 0 3rem 0;
	}
}

@media only screen and (max-width: 500px) {
	.detail-img-container {
		max-width: 90%;
		padding: 0 1rem;
	}

	.detail-img-title {
		margin: 0 0 1rem 0;
		font-size: 1.2rem;
		line-height: var(--line-height-title);
		text-align: center;
	}

	.detail-main-img {
		margin-bottom: 1rem;
	}

	.detail-main-vid {
		/* temp fix for image video size on mobile - YouTube player not diaplying correctly */
		max-width: max-content;
		max-height: 180px;
	}

	.detail-img-explanation {
		font-size: var(--font-size-copy-mobile);
		line-height: var(--line-height-copy);
		margin: 0.5rem 0 3rem 0;
	}
}
