.detail-img-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 6rem auto 0 auto;
	max-width: 75%;
	min-height: 100vh;
}

.detail-img-title {
	font-size: 2rem;
	margin-bottom: 2rem;
	text-align: center;
}

.detail-main-img {
	max-width: 100%;
	max-height: 100vh;
	box-shadow: var(--box-shadow-dark);
	border-radius: var(--border-radius-main);
	margin-bottom: 2rem;
}

.detail-main-vid {
	max-width: 100%;
	box-shadow: var(--box-shadow-dark);
	border-radius: var(--border-radius-main);
	margin-bottom: 2rem;
}

.detail-img-explanation {
	font-family: var(--main-font);
	font-size: 1rem;
	margin: 1rem 0 3rem 0;
	line-height: var(--line-height-copy);
	text-align: justify;
}

.img-btn-container {
	display: flex;
	flex-direction: column;
}

.btn-back-archive {
	color: var(--text-color-light);
	width: 10rem;
	font-family: inherit;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	background-color: #000;
	border: none;
	border-radius: var(--border-radius-main);
	margin-bottom: 3rem;
}

.btn-back-archive:hover {
	cursor: pointer;
}

.link-archive {
	align-self: center;
}

@media only screen and (max-width: 500px) {
	.flex-container {
		width: 90%;
		margin: 4.5rem auto 0 auto;
	}

	.detail-img-container {
		padding: 1rem;
	}

	.detail-img-title {
		font-size: 1.6rem;
		line-height: var(--line-height-title);
	}

	.detail-img-explanation {
		font-size: var(--font-size-copy-mobile);
		line-height: var(--line-height-copy);
		margin: 2rem 0;
	}

	.link-archive {
		margin: 0;
	}
}
