.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-size: 2rem;
}

/* TODO: vertical images need to be flipped horizontally in order to be displayed consistently */
.img-container {
	margin: 0 auto;
	width: 80%;
	min-height: 100vh;
}

.img-title {
	font-size: 2rem;

	margin: 5rem 0 1rem 0;
}

.image-explanation-container {
	display: flex;
}

.main-img {
	width: 40%;
	height: 40%;
	box-shadow: var(--box-shadow-dark);
	border-radius: var(--border-radius-main);
}

.img-explanation {
	width: 60%;
	font-family: var(--main-font);

	font-size: 1rem;
	margin-left: 2rem;
}

/* rough layout only, needs work and unused code to be removed */
@media only screen and (max-width: 500px) {
	.img-container {
		width: 90%;
		padding: 1rem;
	}

	.img-title {
		margin: 4.5rem 0 1rem 0;
		font-size: 1.6rem;
		line-height: var(--line-height-title);
		text-align: center;
	}

	.image-explanation-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main-img {
		width: 100%;
		height: 100%;
	}

	.img-explanation {
		width: 100%;
		border-radius: var(--border-radius-main);
		text-align: justify;
		font-size: var(--font-size-copy-mobile);

		line-height: var(--line-height-copy);
		margin: 1rem 0 1rem 0;
		padding: 1rem;
	}
}
