.card-container {
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: var(--box-shadow-dark);
	border-radius: var(--border-radius-main);
}

.card-img {
	width: 100%;
	border-radius: var(--border-radius-main);
}

.vid-img {
	width: 100%;
	max-height: 12.5rem;
}

@media only screen and (max-width: 500px) {
	.vid-img {
		max-height:8rem;
	}
}
