.warp {
	display: flex;
}

.archive-title {
	margin-top: 4rem;
	text-align: center;
}

.main-container-archive {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
	width: 100%;
	padding: 0 3rem;
	/* margin: 3rem 0 6rem 0; */
}

.link {
	text-decoration: none;
	color: inherit;
}
