.archive-title {
	margin-top: 6rem;
	text-align: center;
}

.link {
	text-decoration: none;
	color: inherit;
}

/* need breakpoints to adjust max-width */
.archive-masonry-grid {
	padding: 0 6rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 3rem auto 6rem -30px;
	width: auto;
}
.archive-masonry-grid_column {
	padding-left: 30px; /* gutter size */
	background-clip: padding-box;
}

.archive-masonry-grid_column > div {
	margin-bottom: 30px;
}

@media only screen and (max-width: 500px) {
	/* need breakpoints to adjust max-width */
	.archive-masonry-grid {
		padding: 0 2rem;
		margin: 3rem auto 6rem -1.25rem;
	}

	.archive-masonry-grid_column {
		padding-left: 1.25rem; /* gutter size */
	}

	.archive-masonry-grid_column > div {
		margin-bottom: 1.25rem;
	}
}
